<%= form_for(@newpost) do |f| %>
  <div>
	  <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.text_area :content, :placeholder => "Compose new micropost..." %>
  </div>
  <%= f.submit "Post" %>
<% end %>
